@import 'reset';
@import 'global';
@import 'tipografy';

.form-container{
    position: absolute;
    top: 0;
    height: 100%;
    padding: 40px;
    width: 50%;
    transition: all 0.6s ease-in-out;
    background: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    label {
        margin: 0 0 20px 0;
        display: block;

        input {
            @extend .input-default;
            display: block;
            width: 100%;
            margin-top: 5px;
            text-align: center;
        }
    }

    button {
        border-color: #000;
        color: #000;
        display: block;
        width: 60%;
        margin: 0 auto;
        padding: 15px;

        &:hover {
            color: #fff;
        }
    }

    &.sign-in {
        opacity: 1;
        z-index: 2;
    }

    &.sign-up {
        opacity: 0;
        z-index: 1;
        transform: translateX(80%);
    }

}

.container {
    width: 980px;
    background: #fff;
    border-radius: 10px;
    position: relative;
    min-height: 580px;
    overflow: hidden;
    @include box-shadow(0, 14px, 28px, rgba(0,0,0,0.25));

    &.right-panel-active {
        .overlay-container {
            transform: translateX(-100%);

            .overlay {
                transform: translateX(50%);
                background-position: left -80px bottom -10px;

                .overlay-left {
                    transform: translateX(0);
                }
        
                .overlay-right {
                    transform: translateX(30%);
                }
            }
        }

        .form-container.sign-up {
            transform: translateX(100%);
            opacity: 1;
            z-index: 5;
            animation: show 0.3s;
        }

        .form-container.sign-in {
            transform: translateX(30%);
        }
    }
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;

    .overlay {
        background: #FF416C;
        background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/1400/866a8044940857.5822e4124e470.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0 bottom;
        color: #FFFFFF;
        position: relative;
        left: -100%;
        height: 100%;
        width: 200%;
        transform: translateX(0);
        transition: all 0.6s ease-in-out;

        &:before {
            content:'';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,0.4)
        }

        .overlay-panel {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 0 40px;
            text-align: center;
            top: 0;
            height: 100%;
            width: 50%;
            transform: translateX(0);
            transition: transform 0.6s ease-in-out;

            &.overlay-left {
                transform: translateX(-20%);
            }
    
            &.overlay-right {
                right: 0;
                transform: translateX(0);
            }
        }
    }
}

.info-container {
    input {
        @extend .input-default;
        width: 100%;
        padding: 5px;
        text-align: center;
        margin-top: 0;
    }
}
